@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto;

}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    
}

.links {
    display: flex;


}

.content, .button {
    background-color: #3882F6;

}

.quote {
    background-color: #E5E7EB;

}

ul {
    list-style-type: none;
}